*{
  margin: 0;
  padding: 0;
}
/* Body */
body{
  background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(./images/survey-form-background.jpeg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size:20px;
  line-height: 1.4;
  /* width:750px; */
  /* padding:30px; */
  margin:auto;
  border-radius:10px;
  text-align:left;
  color:white;
}



/* Title */
#title{
  padding-top: 30px;
  text-align: center;
  font-size: 2rem;
}
/* Describtion */
#description{
  text-align: center;
  font-style: italic;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
/* Form */

#survey-form{
  background-color: rgba(27, 27, 50, 0.8);
  width: 750px;
  margin-top:10px;
  margin-left: auto; 
  margin-right: auto;
  margin-bottom: 10px;
  display: block;
  padding: 2.5rem;
  border-radius: 10px;

}
.form-group{
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}
label{
  display: flex;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}
.line{
  display: block;
width: 100%;
height: 2.375rem;
padding: 0.375rem 0.75rem;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: 0.25rem;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#role-id{
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif
}
.recommend, .favorite, .improve{
  font-size: 1.5rem;
}
#input-radio, #input-checkbox{
display: inline-block;
margin-right: 0.625rem;
min-height: 1.25rem;
min-width: 1.25rem;
}
input,
button,
select,
textarea {
margin: 0;
font-family: inherit;
font-size: inherit;
line-height: inherit;
}

span{
  font-size: 18px;
}
#comments-p{
  font-weight: bold;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
#comments{
  width: 100%;
  min-height: 120px;
  padding: 0.6rem;
   
}
#submit{ 
  background:#37af65;
  display: block;
  width: 100%;
  padding: 15px;
  border:1px solid gray;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}    

select{
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 100px;
  padding: 6px;
  border-width:5px;
  box-sizing: content-box; 
}
.recommend, 
.favorite, 
.improve, 
.comments{
  margin-bottom: 14px;
}


@media(min-width:280px){
  #survey-form{
    width: 180px;
    
  }
}
@media(min-width:320px){
  #survey-form{
    width: 220px;
  }
}
@media (min-width:375px){
  #survey-form{
    width: 275px;
  }
}
@media (min-width:411px){
  #survey-form{
    width: 311px;
  }
}
@media (min-width:540px){
  #survey-form{
    width: 440px;
  }
}
@media (min-width:768px){
  #survey-form{
    width: 668px;
  }
}
@media (min-width:950px){
  #survey-form{
    width: 750px;
  }
}
@media (min-width:1024px){
  #survey-form{
    width: 924px;
   
  }
}







